您好！

正在重置您的邮箱 {{ email }}. 点击下面的地址连接进行重置:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

+++++++++++++++++++++++++++++++++
您的用户名为: {{ user.username }}
+++++++++++++++++++++++++++++++++


+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
友情提示:

如果单击上面的链接不起作用，请将URL复制粘贴到新的浏览器窗口中.
如果您错误地收到了这封邮件，很可能是另一个用户在试图重置密码时错误地输入了您的电子邮件地址.
如果您没有发起请求,您不需要采取任何进一步的行动,可以安全地忽略此电子邮件即可
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


谢谢~

---童年说团队
