{% extends 'base_accounts.html' %}

{% block title %}重置密码{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">重置密码</h3>
          <p>输入你的注册邮箱地址,我们将会发送一封重置密码邮件</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">发送</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
