{% extends 'base_accounts.html' %}

{% block title %}Password changed!{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">密码已经改变</h3>
          <div class="alert alert-success" role="alert">
            恭喜您！密码重置成功~
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">重新登录</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
